{
  "presets": [
    "env",
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}