{
  "compact": false,
  "presets": [
    "env",
    "react",
    "es2015"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-decorators",
    "syntax-object-rest-spread",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
