body {
  background-color: wheat;
  color: #333333;
}

#example-app-wrapper {

  #example-app-header {
    background-color: #333333;
    color: wheat;
    height: 60px;
    h1 {
      line-height: 60px;
      margin: 0 10px;
    }
  }

  #example-app-subheader {
    background-color: #3333337d;
    color: wheat;
    height: 40px;
    display: flex;
    justify-content: space-between;
    h3 {
      line-height: 40px;
      margin: 0 10px;
    }

    .other-apps {
      display: flex;
      color: #0a4682;
      h3 {
        cursor: pointer;
      }
    }
  }

  #example-app-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
    font-family: "American Typewriter";
    p {
      color: #333333;
    }
    .example-app-content-section {
      padding: 0 20px;
      width: 400px;
      border: 1px solid;
      margin: 10px;

      p {
        word-wrap: break-word;
      }
    }

    .counter-action-button {
      cursor: pointer;
      padding: 10px;
      margin: 10px;
      color: wheat;
      background-color: #333333;
    }

    .navigate-button {
      cursor: pointer;
      display: inline-block;
      padding: 15px;
      &:hover {
        color: dodgerblue;
        text-decoration: underline dodgerblue;
      }
    }
  }
}
