body {
  background-color: wheat;
  color: #333333;
}

#example-app-wrapper {
  #example-app-header {
    background-color: #333333;
    color: wheat;
    height: 60px;
    h1 {
      line-height: 60px;
      margin: 0 10px;
    }
  }
  #example-app-subheader {
    background-color: #3333337d;
    color: wheat;
    height: 40px;
    display: flex;
    justify-content: space-between;
    h3 {
      line-height: 40px;
      margin: 0 10px;
    }
    .other-apps {
      display: flex;
      color: #0a4682;
      h3 {
        cursor: pointer;
      }
    }
  }
  #example-app-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
    font-family: "American Typewriter";
    p {
      color: #333333;
    }
    .example-app-content-section {
      padding: 0 20px;
      width: 400px;
      border: 1px solid;
      margin: 10px;
      p {
        word-wrap: break-word;
      }

      #me-wrapper {
        display: flex;
        flex-direction: row;
        background: beige;
        #me-profile-picture-wrapper {
          img {
            height: 50px;
            width: 50px;
            border-radius: 20px;
          }
        }
        #me-content-writings {
          p {
            margin: 5px;
          }
        }
      }
    }
    .counter-action-button {
      cursor: pointer;
      padding: 10px;
      margin: 10px;
      color: wheat;
      background-color: #333333;
    }
    .shopping-item-wrapper {
      text-transform: uppercase;
      font-weight: bolder;
      margin: 2px 0;
      padding-left: 5px;
      border: 0.5px dotted;
      display: flex;
      &.form {
        flex-direction: row;
        justify-content: space-between;
        #shopping-item-input {
          margin: auto;
        } 
        // #shopping-item-submit {
        // }
      }
    }
    .navigate-button {
      cursor: pointer;
      display: inline-block;
      padding: 15px;
      &:hover {
        color: dodgerblue;
        text-decoration: underline dodgerblue;
      }
    }
    .auth-wrapper {
      background-color: #cbcbcb;
      border: 2px dotted blue;
      margin: 20px 0;
      padding: 20px;
      font-family: "Helvetica Neue";
      max-width: 300px;
      border-radius: 3px;
      .auth-header {
        display: block;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }
      .auth-input-wrapper {
        padding: 0 5px;
        height: 35px;
        input {
          border-radius: 3px;
          background-color: transparent;
          border: 1px solid black;
          margin-left: 8px;
          padding: 5px;
          float: right;
        }
      }
      $submit-button-color: #4CAF50;
      .auth-submit-button {
        button[type=button],
        button[type=submit],
        button[type=reset] {
          background-color: white;
          border: none;
          color: $submit-button-color;
          padding: 16px 32px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
          &:hover {
            background-color: $submit-button-color;
            color: white;
          }
        }
        button[type=submit]:disabled {
          cursor: auto;
          color: black;
          background: grey;
        }
      }
    }
  }
}
